{% extends 'layout.html' %}
{% block content %}
    <input style="display: none;" class="move1" type="text" value="move1">
    <div class="container" >
        <div>
            <p class="font-size font-mobile">
                <strong>Hi</strong><br>
                I'm Mahmoud AL-Mokdad
                <strong><i>A Web developer,</i></strong> and I love to share what I learn  with everyone. <br>
                <small><i><b>#coding_is_our_future</b></i></small> <br>
                <small><i><b>#Keep_Going</b></i></small>
                <details>
                    <summary >More About Me</summary>
                    <p class="font-size">A web developer with a technical license in software
                    specialization. My career started with programming in 2019,
                    I share what I learn with the world by my youtube channel.</p>
               </details>
            </p>
        </div>
    </div>
{% endblock content %}