{% extends 'layout.html' %}
{% block content %}
    <input style="display: none;" class="move1" type="text" value="move3">
    <div class="container" >
        <div>
            <h1 style="text-decoration: underline;">Technical skills</h1>
            <h3>Languages</h3>
            <ul style="list-style-type:disc;font-size: large;">
                <li>HTML / CSS / SASS .</li>
                <li>Javascript .</li>
                <li>SQL .</li>
                <li>Python .</li>
            </ul >
            <h3>Tools, Frameworks, And Libraries</h3>
            <ul style="list-style-type:disc;font-size: large;">
                <li>JQuery .</li>
                <li>Git - Github .</li>
                <li>Flask .</li>
                <li>Laravel .</li>
                <li>React.JS .</li>

            </ul>

        </div>

    </div>

{% endblock content %}