{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div>
            <img style="width: 60px;height: 60px;float: left;" src="../static/img/youtube.webp" alt="Youtube Icon">
            <h2>Youtube Channel Under Creating.</h2>
            <P>will bring you back to the home page!, THANKS.</P>
        </div>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = 'https://mahmoudalmokdad.pythonanywhere.com/'
        }, 8000);
    </script>
{% endblock content %}